:root {
  --color-primary: #1f3c88;
  --color-text-dark: #333;
  --color-bg: #f4f7fb;
  --color-white: #ffffff;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-shadow-hover: #355ec9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: var(--color-bg);
  color: var(--color-text-dark);
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}


.navbar {
  background-color: var(--color-bg);
  box-shadow: 0 3px 10px var(--color-shadow);
  padding: 20px 0;
}

.nav-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--color-primary);
  font-size: 30px;
}

.nav-container a {
  text-decoration: none;
  color: var(--color-text-dark);
  font-size: 18px;
  transition: 0.3s;
}

.nav-container a:hover {
  color: var(--color-primary);
}



.hero {
  background-color: var(--color-primary);
  padding: 80px 20px;
  text-align: center;
  color: var(--color-white);
}

.hero-content {
  max-width: 700px;
  margin: auto;
}

.hero h2 {
  font-size: 45px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  line-height: 1.6;
}
.services-section {
  padding: 70px 0;
}
.section-title {
  font-size: 40px;
  text-align: center;
  color: var(--color-primary);
  margin-bottom: 15px;
}
.section-description {
  text-align: center;
  color: var(--color-text-dark);
  max-width: 650px;
  margin: 0 auto 50px;
  line-height: 1.6;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  align-items: stretch;
}

.service-card {
  background: var(--color-white);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 5px 15px var(--color-shadow);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.service-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px var(--color-shadow);
}
.service-icon {
  font-size: 55px;
  color: var(--color-primary);
  margin-bottom: 20px;
}
.service-title {
  font-size: 24px;
  margin-bottom: 15px;
}

.service-description {
  color: var(--color-text-dark);
  line-height: 1.6;
  margin-bottom: 25px;
}
.service-button {
  background: var(--color-primary);
  color: var(--color-bg);
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  margin-top: auto;
}
.service-button:hover {
  background: var(--color-shadow-hover);
}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 35px;
  }

  .section-title {
    font-size: 32px;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 15px 0;
  }

  .logo {
    font-size: 24px;
  }

  .hero {
    padding: 50px 15px;
  }

  .hero h2 {
    font-size: 28px;
  }

  .service-card {
    padding: 20px;
  }
}
